.sidebarContainer {
  height: 100%;
  width: 320px;
  flex: none;
  background-color: #232323;
  display: flex;
  flex-direction: column;
}

.panelArea {
  flex: 1 1 auto;
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  color: white;
  padding: 8px;
  margin-bottom: 8px;
  flex: none;
}
