.sidebarContainer {
  height: 100%;
  width: 320px;
  flex: none;
  display: flex;
  transform: translateX(-1px);
  flex-direction: column;
  border: 12px solid transparent;
  border-image-source: url(../../../assets/images/border1.png);
  border-image-slice: 12 fill;
  border-image-repeat: repeat;
  border-image-outset: 2px 2px 1px 3px;
  padding: 1px 0px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.panelArea {
  flex: 1 1 auto;
  overflow: hidden;
}

.title {
  font-size: calc(13rem / 16);
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
  flex: none;
  border: 8px solid transparent;
  border-image-source: url(../../../assets/images/highlight_back.png);
  border-image-slice: 8 fill;
  border-image-repeat: repeat;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
