.toolbarContainer {
  flex: none;
  display: flex;
  border: 12px solid transparent;
  border-image-source: url(../../../assets/images/border2.png);
  border-image-slice: 12 fill;
  border-image-repeat: repeat;
  border-image-outset: 2px 1px 3px 1px;
  padding-right: 1px;
  height: 49px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.leftContainer {
  flex: 1 1 auto;
}

.pluginsContainer,
.toolsContainer {
  flex: none;
}

.toolsContainer {
  margin-right: 4px;
  padding-right: 4px;
  border-right: 2px solid #959595;
}

.leftContainer,
.pluginsContainer,
.toolsContainer {
  display: flex;
  transform: translateY(1px);
}

.leftContainer button:not(:last-of-type) {
  margin-right: 4px;
}

.pluginsContainer button:not(:first-of-type),
.toolsContainer button:not(:first-of-type) {
  margin-left: 4px;
}

.toolbarContainer button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 8px solid transparent;
  border-image-source: url(../../../assets/images/button_blue.png);
  border-image-slice: 8 fill;
  border-image-repeat: repeat;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.toolbarContainer button img {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.toolbarContainer button:hover {
  border: 8px solid transparent;
  border-image-source: url(../../../assets/images/button_blue_shine.png);
  border-image-slice: 8 fill;
  border-image-repeat: repeat;
}

.toolbarContainer button:active {
  background-color: #303030;
  transform: translate(1px, -1px);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.toolbarContainer .activePlugin {
  background-color: #303030;
  border: 8px solid transparent;
  border-image-source: url(../../../assets/images/button_blue_shine.png);
  border-image-slice: 8 fill;
  border-image-repeat: repeat;
}
