.toolbarContainer {
  flex: none;
  display: flex;
  margin-bottom: 1px;
  padding: 4px;
}

.leftContainer {
  flex: 1 1 auto;
}

.pluginsContainer,
.toolsContainer {
  flex: none;
}

.toolsContainer {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.leftContainer,
.pluginsContainer,
.toolsContainer {
  display: flex;
}

.leftContainer button:not(:last-of-type) {
  margin-right: 4px;
}

.pluginsContainer button:not(:first-of-type),
.toolsContainer button:not(:first-of-type) {
  margin-left: 4px;
}

.toolbarContainer button {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  user-select: none;
  cursor: pointer;
}

.toolbarContainer button img {
  user-select: none;
  pointer-events: none;
  filter:drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}

.toolbarContainer button:hover img {
  transform: translateY(-1px);
}

.toolbarContainer button:active img {
  transform: translateY(0px);
}

.toolbarContainer .activePlugin {
  /* border: 1px solid rgb(209,157, 80); */
  /* background-color: rgba(209,157, 80, 0.4); */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
