@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  to {
    transform: scale(1.05);
  }
}

@keyframes sway {
  to {
    transform: rotate(5deg);
  }
}

.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: opacity 1s;
  background-image: url(assets/images/eterspire/loading_bg.png);
  background-size: cover;
}

.innerContainer {
  position: absolute;
  left: calc(50% - 61px);
  top: calc(50% - 61px);
  width: 122px;
  height: 122px;
}

.centre {
  background-image: url(assets/images/eterspire/loading_centre.png);
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-3deg);
  animation: sway 1s alternate infinite ease-in-out;
}

.circle {
  background-image: url(assets/images/eterspire/loading_circle.png);
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.spin {
  animation: spin 6s infinite linear;
}

.finished {
  opacity: 0;
  pointer-events: none;
}

.ray {
  background-size: 100%;
  width: 122px;
  height: 122px;
  position: absolute;
  left: calc(50% - 61px);
  top: calc(50% - 61px);
  animation: pulse 0.75s alternate infinite ease-in-out;
}

.ray0 {
  background-image: url(assets/images/eterspire/loading_0.png);
}

.ray1 {
  background-image: url(assets/images/eterspire/loading_1.png);
}

.ray2 {
  background-image: url(assets/images/eterspire/loading_2.png);
}

.ray3 {
  background-image: url(assets/images/eterspire/loading_3.png);
}

.ray4 {
  background-image: url(assets/images/eterspire/loading_4.png);
}

.ray5 {
  background-image: url(assets/images/eterspire/loading_5.png);
}

.ray6 {
  background-image: url(assets/images/eterspire/loading_6.png);
}

.ray7 {
  background-image: url(assets/images/eterspire/loading_7.png);
}

.ray8 {
  background-image: url(assets/images/eterspire/loading_8.png);
}

.ray9 {
  background-image: url(assets/images/eterspire/loading_9.png);
}

.ray10 {
  background-image: url(assets/images/eterspire/loading_10.png);
}

.ray11 {
  background-image: url(assets/images/eterspire/loading_11.png);
}
