.loadingContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 1s;
  background-image: url(../../../assets/images/loading_bg.png);
  background-size: cover;
}

.centre {
  background-image: url(../../../assets/images/loading_centre.png);
  background-size: 100%;
  width: 122px;
  height: 122px;
  position: absolute;
  left: calc(50% - 61px);
  top: calc(50% - 61px);
}

.circle {
  background-image: url(../../../assets/images/loading_circle.png);
  background-size: 100%;
  width: 122px;
  height: 122px;
  position: absolute;
  left: calc(50% - 61px);
  top: calc(50% - 61px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 6s infinite linear;
}

.finished {
  opacity: 0;
  pointer-events: none;
}

.ray {
  background-size: 100%;
  width: 122px;
  height: 122px;
  position: absolute;
  left: calc(50% - 61px);
  top: calc(50% - 61px);
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ray0 {
  background-image: url(../../../assets/images/loading_0.png);
}

.ray1 {
  background-image: url(../../../assets/images/loading_1.png);
}

.ray2 {
  background-image: url(../../../assets/images/loading_2.png);
}

.ray3 {
  background-image: url(../../../assets/images/loading_3.png);
}

.ray4 {
  background-image: url(../../../assets/images/loading_4.png);
}

.ray5 {
  background-image: url(../../../assets/images/loading_5.png);
}

.ray6 {
  background-image: url(../../../assets/images/loading_6.png);
}

.ray7 {
  background-image: url(../../../assets/images/loading_7.png);
}

.ray8 {
  background-image: url(../../../assets/images/loading_8.png);
}

.ray9 {
  background-image: url(../../../assets/images/loading_9.png);
}

.ray10 {
  background-image: url(../../../assets/images/loading_10.png);
}

.ray11 {
  background-image: url(../../../assets/images/loading_11.png);
}
