.gameClient {
  width: 100vw;
  height: 100vh;
  background: transparent !important;
}

.clientOnly {
  border: 0 !important;
}

.gameClient canvas {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
