.gameClient {
  flex: 1 1 auto;
  position: relative;
  background: transparent !important;
  border: 12px solid transparent !important;
  border-image-source: url(assets/images/eterspire/border3.png) !important;
  border-image-slice: 12 fill !important;
  border-image-repeat: repeat !important;
  border-image-outset: 2px 1px 1px 1px !important;
}

.gameClient canvas {
  margin: 0;
  position: absolute;
  top: -1px;
  left: -0px;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 40%), 0 0 2px rgb(0 0 0 / 60%);
}
