<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Eterlite</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script src="http://play.eterspire.com/Build/UnityLoader.js"></script>
</html>
