.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-image: url(assets/images/eterspire/bg_blue.png);
}

.bottomContainer {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
}

.gameContainer {
  flex: 1 1 auto;
  border: 12px solid transparent !important;
  border-image-source: url(assets/images/eterspire/border5.png) !important;
  border-image-slice: 12 fill !important;
  border-image-repeat: repeat !important;
  border-image-outset: 2px 1px 1px 1px !important;
}
