.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-image: url(assets/images/bg_blue.png);
}

.bottomContainer {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
}
